/* PHASE 1: Header */

body {
  font-family: roboto;
  font-weight: 300, 400, 700;
  font-size: 36px, 24px, 16px, 14px, 12px;
  background: #eee;
}

.header {
  background: #f00;
  color: #fff;
  display: block;
  border: 1px solid #ccc;
  position: relative;
  z-index: 1
}

.header a:hover {
  background: #000
}

.header-nav {
  margin: auto;
  width: 900px;
  border-right: 1px solid #ccc;
}

.header-logo {
  float: left;
  font-weight: 700;
  border-right: 1px solid #ccc;
  border-left :1px solid #ccc;
}

.header-logo a {
  display: block;
  padding: 10px 20px;
}

.header-logo a:hover {
  background: #000
}

.header-list {
  float: right;
}

.header-list a {
  padding: 10px 20px;
  display: block;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}
