/* PHASE 2: Notifications */

.badge {
  border: 1px solid #000;
  border-radius: 12px;
  padding: 1px 6px 1px 6px;
  background: #000;
  font-size: 14px;
}

.notification-tab:hover .badge{
  background: #f00;
}

.notification-tab:hover{
  background: #000;
}

.notification-tab:hover .notification {
  top: 40px;
  opacity: 1;
}

.notification {
  position: absolute;
  top: -120px;
  background: #fff;
  color: #000;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0;
}

.notification > li > a {
  /*float: none;*/
  padding: 10px 20px;
  border-top: 1px solid #ccc;

}

.notification > li > a:hover {
  padding: 10px 20px;
  background: #eee;
  border-top: 1px solid #ccc;
}
