/* PHASE 3: Layout */
.content {
  background: #fff;
  width: 900px;
  margin: auto;
  border: 1px solid #ccc;
  position: relative;
}

.content-main {
  float: right;
  width: 620px;
  min-height: 200px;
  padding: 20px;
}

.content:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  top: 200px;
  bottom: 0px;
  left: 240px;
  background: #ccc;
}

.content-sidebar {
  float: left;
  width: 200px;
  min-height: 200px;
  padding: 20px;
}
