/* PHASE 4: Footer */
.footer {
  margin: auto;
  width: 900px;
  color: #aaa;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 14px;
}

.footer-legal {
  float: left;
  display: block;
  padding: 20px;

}

.footer-nav {
  float :right;
  display: block;
  padding: 20px;
}

.footer-nav > li {
  float: left;
  padding: 0 0 0 20px;
}

.footer-nav a:hover {
  color: #000;
}
