/* PHASE 5: Cats */

.content-header {
  position: relative;
  background-image: url("../../shared/img/cats.jpg");
  background-size: cover;
  height: 200px;
  display: block;
}

.content-header > h1 {
  position: absolute;
  bottom: 20px;
  left: 240px;
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
  color: #fff;
  text-shadow: #000 0 0 10px;
}

.content-header > button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-weight: 700;
  cursor: pointer;
}

.content-header > button:hover {
  background: #eee;
}
