/* PHASE 6: Sidebar */
.profile-picture {
  display: block;
  width: 200px;
  margin-top: -120px;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
}

.profile-info {
  position: absolute;
  top: 310px;
  display: block;
  width: inherit;
}

.profile-info > h1 {
  font-size: 36;
  font-weight: 700;
}
